.mainContainer {
  height: 100vh;
  background-color: #242424 !important;
  margin: 0;
  max-width: 100%!important;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputBox {
  height: 100%;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  background-color: rgb(228, 239, 248);
}

@media only screen and (max-width: 450px) {
  .inputBox {
    height: 100%;
    width: 100%;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
    background-color: rgb(228, 239, 248);
  }
}