#navbar{
    font-size: 18px;
    font-weight: bolder;
}

#cart_icon{
    width: 20px;
    margin-left: 5px;
    margin-bottom: 4px;
}

.productCart-text{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .card-container{
        padding: 0px!important;
    }
    .productCart-image{
        width: 50px!important;
        height: 90px!important;
        padding: 0px!important;
    }
    .productCart-text{
        font-size: 15px!important;
    }

    .cart-button{
        width: 30px!important;
        padding: 0px!important;
    }
    .cart-quantity{
        font-size: 12px;
        padding: 0px;
    }
  }
